<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Shop Smart, Save Big!</h1>
    <p>Starting to create something more unique :)</p>
    <p>Sign Up to start Buying</p>
    <h3>Start searching</h3>
</body>
</html>